body, html {
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "arial";
}

#time {
    font-size: 8em;
    color: #363636;
    font-weight: bold;
    text-align: center;;
}

/* 画面幅が600px以下の場合のフォントサイズ調整 */
@media (max-width: 600px) {
    #time {
        font-size: 20vw; 
    }
}